# Dependencies
node_modules/

# Environment
.env
.env.*

# Build
dist/

# Logs
*.log
logs/

# Prisma
prisma/*.db
prisma/migrations/migration_lock.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Testing
coverage/

/src/generated/prisma
